[Unit]
Description=Jdownloader Application Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f /root/docker-compose.yaml up --detach"
ExecStop=/bin/bash -c "docker compose -f /root/docker-compose.yaml stop"

[Install]
WantedBy=multi-user.target
